.multipleCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.singleCardContainer {
    border: 1px solid black;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
    max-width: 250px;
    text-align: center;
    padding: 3px;
    margin: 15px;
}

.cardImg {
    width: 200px;
    height: 200px;
}

.cardName {
    font-weight: 500;
    font-size: 1.2rem;
}

.cardText {
    font-size: 0.8rem;
}