input.ng-valid.ng-touched {
    border: 1px solid green;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error {
    color:tomato;
    font-size: 0.8rem;
}

.formContainer {
    max-width: 80vw;
    justify-content: center;
}

.imagePreview {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

.spacedBtn {
    display: block;
    margin: 25px auto;
}